/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    line-height: 1.3;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    padding: 10px 20px;
    z-index: 1000; /* Ensure the header is above other content */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.header .logo .dot {
    color: #ff6600; /* Orange color */
}

.highlight {
    color: #ff6600; /* Orange color */
}

.header .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; /* Remove bullets */
}

.header .logo {
    font-size: 1.6em;
    font-weight: bold;
    color: #fff; /* White color for logo */
    cursor: pointer; /* Show pointer cursor on hover */
}

.header .nav-links li {
    margin-left: 20px; /* Space between navigation links */
}

.header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #ff6600; /* Orange color on hover */
}

/* Hero section styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Full viewport height */
    padding: 0 20px;
}

.hero-content {
    max-width: 600px;
    margin-bottom: 20px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust space between hero content and image */
}

.hero-image img {
    max-width: 20%;
    border-radius: 50%; /* Rounded border for image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Soft shadow effect */
    transition: transform 0.3s ease; /* Smooth scale effect on hover */
}

.hero-image img:hover {
    transform: scale(1.1); /* Scale up image on hover */
}

.social-links {
    margin-top: 20px; /* Adjust space between image and social links */
}

.social-links a {
    color: #ffffff; /* White color for social links */
    margin-right: 20px; /* Space between social links */
    font-size: 1.5em;
    transition: color 0.3s; /* Smooth transition for color change */
}

.social-links a:hover {
    color: #ff6600; /* Orange color on hover */
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .header {
        padding: 8px 16px; /* Adjust header padding for smaller screens */
    }

    .header .logo {
        font-size: 1.2em; /* Decrease logo size for smaller screens */
    }

    .header .nav-links {
        justify-content: center; /* Center align navigation links on smaller screens */
    }

    .header .nav-links li {
        margin: 0 10px; /* Reduce margin between navigation links */
    }

    .hero {
        padding: 80px 16px; /* Adjust hero padding for smaller screens */
    }

    .hero-content {
        max-width: 100%; /* Ensure hero content takes full width on smaller screens */
        text-align: center;
    }

    .hero-image img {
        max-width: 30%; /* Increase image size on smaller screens */
    }

    .social-links {
        margin-top: 10px; /* Adjust space between image and social links on smaller screens */
    }

    .social-links a {
        font-size: 1.2em; /* Decrease social link font size on smaller screens */
    }
}
